.winner {
	color: green;
}

#container {
	width: 360px;
	margin: 70px auto;
	border: 3px solid black;
	padding: 30px;
	border-radius: 20px;
	background-color: white;
	opacity: 0.8;
	color: black;
}

#header {
	font-size: 38px;
	text-align: center;
	letter-spacing: px;
}

h1 {
	text-align: center;
	color:white;
	margin: 30px auto;
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

body {
	background-image: url("https://images.unsplash.com/photo-1518215069569-0781b2f8cc69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1cd30868e423efb4f67b3d1eee032b78&auto=format&fit=crop&w=750&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: :;
	font-family: 'Roboto Slab', serif;
}

#score {
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
